:root {
  --yellow: #db4d0b;
  --light-orange: #fdc583;
  --orange: #fab27b;
  --dark-orange: #f89f76;
  --darkest-orange: hsl(13, 88%, 70%);
  --salmon: #db4d0b;
}

@font-face {
  font-family: Cocogoose;
  src: url(Cocogoose-Semilight.ttf);
}

body {
  margin: 0;
  font-family: Cocogoose, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Cocogoose, source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

.member {
  color: var(--salmon);
  font-family: Cocogoose, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
.member li {
  color: var(--yellow);
  padding: 10px;
  font-size: 25px;
}
.member span {
  font-weight: bold;
}

.homepage-list li {
  font: bold;
  padding: 20px;
}

.navbar-nav .nav-item {
  display: block;
  color: white;
}

.nav-item {
  padding: 10px;
  font-family: Cocogoose;
  font-weight: bold;
  font-size: larger;
  color: white;
  margin-left: 1px;
}

a:hover {
  background-color: white;
  color: #ffd888;
}
.navbar {
  background-color: #ffd888;
}

.count-card {
  font-family: Cocogoose;
  max-width: 500px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  background-color: var(--yellow);
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.count-card h2 {
  font-size: 100px;
}

.top3-card {
  font-family: Cocogoose;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  background-color: var(--salmon);
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.top3-card h2 {
  font-size: 50px;
}
.nav-style {
  align-items: start;
}

.card-visual {
  max-width: 200px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  background: var(--salmon);
  padding: 20px;
  width: 200px;
  height: 110px;
  text-align: center;
  box-shadow: 0 4px 8px grey;
  color: white;
}

.charts {
  max-width: 700px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  background: var(--salmon);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px grey;
  color: white;
}

/*https://www.w3schools.com/css/css3_borders.asp*/

.dashboard-visuals-container {
  display: flex;
  flex-direction: row;
}

.book-card {
  max-width: 500px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;

  display: flex;

  flex-direction: column;

  box-shadow: 1px 1px 8px var(--salmon);

  padding: 20px;
  font-family: 'Cocogoose';
  text-align: center;
}

.book-card > img {
  align-self: center;
  object-fit: cover;
  text-align: center;
}

span {
  font-weight: bold;
}
a img:hover {
  border-color: var(--salmon);
  border: 2px;
  box-shadow: 1px 5px 20px var(--salmon);
}
a button:hover {
  box-shadow: 1px 5px 20px var(--salmon);
}
.linkStyle {
  text-decoration: none;
  padding: 3px;
  font-weight: bold;
  font-size: larger;
  color: #db4d0b;
  border-radius: 5px;
}
.newGreenColor {
  background-color: var(--salmon);
}
