body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  font-size: larger;
  color:rgb(119, 115, 115);
}
.navbar-nav .nav-item .nav-link:active {
  color: rgb(47, 0, 255);
}
.navbar{
  background-color: rgb(204, 151, 53);
}